@charset "UTF-8";

/*--------------------------------------------------------------
  >>> TABLE OF CONTENTS:
  ----------------------------------------------------------------
  # Global
      ## Global
      ## Mixins
      ## Theme
      ## Variables
      ## Common

  # Sections
      ## Nav Bar
      ## Banner
      ## Brand Area
      ## Footer
      ## Widgets

  # Elements
      ## accordion
      ## filter
      ## apartment
      ## blog
      ## city
      ## feature
      ## gallery
      ## intro
      ## main-search
      ## pricing
      ## service
      ## team
      ## user-list

  --------------------------------------------------------------*/
/*-----------------
      # Typography
  -----------------*/
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&amp;display=swap");

:root {
  --main-color: #f01111;
  --main-color-2: #ffffff1f;
  --heading-color: #101010;
  --paragraph-color: #505050;
  --body-font: "Nunito", sans-serif;
  --heading-font: "Nunito", sans-serif;
  --body-font-size: 16px;
  --line-height30: 1.7;
}

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  overflow-x: hidden;
  font-family: var(--body-font);
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  -moz-osx-font-smoothing: grayscale;
  /* Firefox */
  -webkit-font-smoothing: antialiased;
  /* WebKit  */
}

body {
  margin: 0;
  color: var(--paragraph-color);
  overflow-x: hidden;
  font-family: var(--body-font);
  line-height: var(--line-height30);
  font-size: var(--body-font-size);
  background: #efefef !important;
}

h1 {
  font-size: 70px;
  line-height: 1.2333333333;
}

h2 {
  font-size: 50px;
  line-height: 1.3380952381;
}

h3 {
  font-size: 32px;
  line-height: 1.3833333333;
}

h4 {
  font-size: 24px;
  line-height: 1.3380952381;
}

h5 {
  font-size: 18px;
  line-height: 1.3380952381;
}

h6 {
  font-size: 16px;
  line-height: 1.2380952381;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color);
  font-weight: 700;
}

p {
  color: var(--paragraph-color);
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  margin-bottom: 10px;
}

a {
  color: inherit;
  text-decoration: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  outline: none;
  color: inherit;
}

a:hover {
  color: var(--main-color);
}

pre {
  word-break: break-word;
}

a i {
  padding: 0 2px;
}

img {
  max-width: 100%;
}

/*---------------------------------------
      ## Button
  ---------------------------------------*/
.btn {
  height: 60px;
  line-height: 60px;
  padding: 0 35px;
  border-radius: 30px;
  overflow: hidden;
  position: relative;
  border: 0;
  font-size: 16px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  font-weight: 700;
  z-index: 0;
}

.btn:focus,
.btn:active {
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn:after {
  content: "";
  background: var(--main-color-2);
  position: absolute;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  z-index: -1;
  height: 100%;
  left: -35%;
  top: 0;
  -webkit-transform: skew(30deg);
  transform: skew(30deg);
  -webkit-transition-duration: 0.6s;
  transition-duration: 0.6s;
  -webkit-transform-origin: top left;
  transform-origin: top left;
  width: 0;
}

.btn:hover {
  color: #fff;
}

.btn:hover:after {
  height: 100%;
  width: 135%;
}

.btn-base {
  color: #fff !important;
  border: none !important;
  font-weight: 700 !important;
  height: 40px !important;
  font-size: 16px !important;
  padding: 0 37px !important;
  /* border-radius: 30px !important; */
  background: #E31F29 !important;
  /* background-position: 50% 0 !important; */
  /* background-size: 200% !important; */
}

.btn-base-in {
  color: #000 !important;
  height: 35px !important;
  font-size: 14px !important;
  padding: 0 22px !important;
  border: none !important;
  font-weight: 500 !important;
  border-radius: 30px !important;
  background: linear-gradient(90deg, #01c29a 0%, #e9cd70 104.29%) !important;
  background-position: 50% 0 !important;
  background-size: 200% !important;
}

.btn-base:active,
.btn-base:focus,
.btn-base:hover {
  color: #000;
  background-position: 0;
}

.btn-base::after {
  display: none;
}

.btn-black {
  color: #fff !important;
  height: 32px !important;
  font-size: 13px !important;
  border: none !important;
  padding: 0 20px !important;
  border-radius: 30px !important;
  background: #3a4560 !important;
  background-position: 50% 0 !important;
  background-size: 200% !important;
}

.btn-black:active,
.btn-black:focus,
.btn-black:hover {
  color: #fff;
}

/*-----------------------------------------
      ## Preloader Css
  -------------------------------------------*/
.pre-wrap {
  position: fixed;
  content: "";
  -webkit-transform: translate(-100%, -240%);
  transform: translate(-100%, -240%);
  font-size: 62px;
}

.preloader-inner {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999999999999;
  background-color: #030724;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.preloader-inner .cancel-preloader {
  position: absolute;
  bottom: 30px;
  right: 30px;
}

.preloader-inner .cancel-preloader a {
  background-color: #fff;
  font-weight: 600;
  text-transform: capitalize;
  color: var(--main-color);
  width: 200px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 30px;
  display: block;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.preloader-inner .cancel-preloader a:hover {
  background-color: var(--heading-color);
  color: #fff;
}

.spinner {
  margin: 120px auto;
  width: 60px;
  height: 60px;
  position: relative;
  text-align: center;
  -webkit-animation: sk-rotate 2s infinite linear;
  animation: sk-rotate 2s infinite linear;
}

/*-----------------------------------------
      ## video 
  ------------------------------------------*/

/*-----------------------------------------
      ## video 
  ------------------------------------------*/
/* .video-play-btn {
  border-radius: 50%;
  width: 124px;
  height: 124px;
  display: inline-block;
  line-height: 122px;
  position: relative;
  z-index: 0;
  text-align: center;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#ff8d35),
    to(rgba(240, 17, 17, 0.5))
  );
  background: linear-gradient(#ff8d35, rgba(240, 17, 17, 0.5));
  z-index: 3;
} */

.video-play-btn i {
  font-size: 24px;
  color: #fff;
}

/* 
.video-play-btn:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 2px solid #fff;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
} */
/* 
.video-play-btn:before {
  z-index: -1;
  content: "";
  position: absolute;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.31);
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
} */

/********* social-media *********/
.social-media {
  padding: 0;
  margin: 0;
  position: relative;
  z-index: 2;
}

.social-media li {
  /*display: inline-block;*/
  margin: 0 2px;
}

/*
  .social-media li a {
      height: 35px;
      width: 35px;
      line-height: 35px;
      text-align: center;
      border-radius: 50%;
      display: inline-block;
      background: #fff;
      color: #3F517E;
  }*/

.social-media li a:hover {
  color: #fff;
  /*background: var(--main-color);*/
}

.bg-gradient {
  background: -webkit-gradient(linear,
      left top,
      left bottom,
      from(#ff8d35),
      to(#f01111)) !important;
  background: linear-gradient(#ff8d35, #f01111) !important;
}

.bg-red {
  background: #E31F29;
}

/* 
.bg-navy-1 {
  background: #0d2564;
}

.bg-navy-2 {
  background: #081638;
}

.bg-gray {
  background: #434d67;
} */

.bg-relative {
  position: relative;
}

.bg-overlay {
  position: relative;
  background-size: cover !important;
}

.bg-overlay:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background: rgba(11, 0, 34, 0.9);
}

.bg-overlay .container {
  position: relative;
  z-index: 2;
}

.pd-left-3 {
  padding-left: 3px;
}

.pd-left-5 {
  padding-left: 5px;
}

.pd-left-10 {
  padding-left: 10px;
}

.pd-top-30 {
  padding-top: 30px;
}

.pd-top-60 {
  padding-top: 60px;
}

.pd-top-100 {
  padding-top: 100px;
}

.pd-top-200 {
  padding-top: 200px;
}

.pd-top-225 {
  padding-top: 225px;
}

.pd-bottom-30 {
  padding-bottom: 30px;
}

.pd-bottom-70 {
  padding-bottom: 70px;
}

.pd-bottom-100 {
  padding-bottom: 100px;
}

.pd-bottom-120 {
  padding-bottom: 120px;
}

.pd-bottom-200 {
  padding-bottom: 200px;
}

.border-bottom {
  border-bottom: 1px solid var(--main-color-2) !important;
}

/************ animate style ************/
.top_image_bounce {
  -webkit-animation: top-image-bounce 3s infinite ease-in-out;
  animation: top-image-bounce 3s infinite ease-in-out;
}

.left_image_bounce {
  -webkit-animation: left-image-bounce 3s infinite ease-in-out;
  animation: left-image-bounce 3s infinite ease-in-out;
}

.right_image_bounce {
  -webkit-animation: right-image-bounce 3s infinite ease-in-out;
  animation: right-image-bounce 3s infinite ease-in-out;
}

.spin_image {
  -webkit-animation: spin 3s infinite ease-in-out;
  animation: spin 3s infinite ease-in-out;
}

@-webkit-keyframes top-image-bounce {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }

  50% {
    -webkit-transform: translateY(12px);
    transform: translateY(12px);
  }

  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

@keyframes top-image-bounce {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }

  50% {
    -webkit-transform: translateY(12px);
    transform: translateY(12px);
  }

  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

@-webkit-keyframes left-image-bounce {
  0% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }

  50% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }

  100% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
}

@keyframes left-image-bounce {
  0% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }

  50% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }

  100% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
  }
}

@-webkit-keyframes ripple-white3 {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1),
      0 0 0 10px rgba(255, 255, 255, 0.1), 0 0 0 20px rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1),
      0 0 0 10px rgba(255, 255, 255, 0.1), 0 0 0 20px rgba(255, 255, 255, 0.1);
  }

  100% {
    -webkit-box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.1),
      0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 100px rgba(255, 255, 255, 0);
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.1),
      0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 100px rgba(255, 255, 255, 0);
  }
}

@keyframes ripple-white3 {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1),
      0 0 0 10px rgba(255, 255, 255, 0.1), 0 0 0 20px rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1),
      0 0 0 10px rgba(255, 255, 255, 0.1), 0 0 0 20px rgba(255, 255, 255, 0.1);
  }

  100% {
    -webkit-box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.1),
      0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 100px rgba(255, 255, 255, 0);
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.1),
      0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 100px rgba(255, 255, 255, 0);
  }
}

/*------------------------------------------------
      ## Section title
  ------------------------------------------------*/
.section-title {
  margin-bottom: 55px;
  position: relative;
}

.section-title .sub-title {
  font-weight: 500;
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
  color: var(--main-color);
}

.section-title .sub-title.left-line {
  padding-left: 15px;
}

.section-title .sub-title.left-line:after {
  position: absolute;
  content: "";
  left: 0;
  top: -4px;
  background: #be63f9;
  height: 30px;
  width: 2px;
}

.section-title .title {
  margin-bottom: 0;
  margin-top: 0;
  line-height: 1.1;
}

.section-title .title span {
  color: var(--main-color);
}

.section-title .content {
  margin-top: 16px;
  margin-bottom: 0;
}

.section-title .content strong {
  color: var(--main-color);
}

.section-title .small-title {
  margin-top: 18px;
  line-height: 36px;
}

.section-title .phone {
  font-weight: 400;
  margin-top: 30px;
}

.section-title .phone img {
  margin-right: 6px;
}

.section-title .single-list-wrap {
  margin-top: 21px;
}

.section-title .btn {
  margin-top: 30px;
}

.section-title.style-white .sub-title {
  color: #fff;
}

.section-title.style-white .sub-title.left-line:after {
  background: #fff;
}

.section-title.style-white .title {
  color: #fff;
}

.section-title.style-white .content {
  color: #fff;
}

.section-title.style-white .small-title {
  color: #fff;
}

/************ single-inpur-inner ************/
.single-input-inner {
  margin-bottom: 30px;
  position: relative;
}

.single-input-inner .input-group-text {
  background: transparent;
  padding: 0;
  border: 0;
  color: #f3f3f3;
  margin-bottom: 15px;
  font-size: 14px;
}

.single-input-inner input {
  width: 100%;
  height: 52px;
  border: 0 !important;
  padding: 0 18px;
  color: #f3f3f3;
  background: #321d85;
  border-radius: 0;
}

.single-input-inner input::-webkit-input-placeholder {
  color: #bbbbbb;
}

.single-input-inner input::-moz-placeholder {
  color: #bbbbbb;
}

.single-input-inner input:-ms-input-placeholder {
  color: #bbbbbb;
}

.single-input-inner input::-ms-input-placeholder {
  color: #bbbbbb;
}

.single-input-inner input::placeholder {
  color: #bbbbbb;
}

.single-input-inner textarea {
  border: 1px solid rgba(23, 46, 104, 0.5) !important;
  border-radius: 10px;
  color: rgba(255, 255, 255, 0.7);
  width: 100%;

  height: 160px;
  background: linear-gradient(176.08deg,
      rgba(255, 255, 255, 0.21) -68.72%,
      rgba(255, 255, 255, 0) 114.58%);
  padding: 11px 20px 0 45px;
}

.single-input-inner textarea::-webkit-input-placeholder {
  color: #bbbbbb;
}

.single-input-inner textarea::-moz-placeholder {
  color: #bbbbbb;
}

.single-input-inner textarea:-ms-input-placeholder {
  color: #bbbbbb;
}

.single-input-inner textarea::-ms-input-placeholder {
  color: #bbbbbb;
}

.single-input-inner textarea::placeholder {
  color: #bbbbbb;
}

.single-input-inner.style-border .icon {
  height: 50px;
  position: absolute;
  left: 0;
  top: 0px;
  line-height: 50px;
  /*border: 1px solid rgba(23, 46, 104, 0.5) !important;*/
  /*border-radius: 50%;*/
  width: 50px;
  text-align: center;
  color: #01c29a;
}



.single-input-inner.style-border input::-webkit-input-placeholder {
  color: #979797;
}

.single-input-inner.style-border input::-moz-placeholder {
  color: #979797;
}

.single-input-inner.style-border input:-ms-input-placeholder {
  color: #979797;
}

.single-input-inner.style-border input::-ms-input-placeholder {
  color: #979797;
}

.single-input-inner.style-border input::placeholder {
  color: #979797;
}

/*.single-input-inner.style-border textarea {
      border: 1px solid rgba(234, 225, 214, 0.6) !important;
  }*/

.single-input-inner.style-border textarea::-webkit-input-placeholder {
  color: #bbbbbb;
}

.single-input-inner.style-border textarea::-moz-placeholder {
  color: #bbbbbb;
}

.single-input-inner.style-border textarea:-ms-input-placeholder {
  color: #bbbbbb;
}

.single-input-inner.style-border textarea::-ms-input-placeholder {
  color: #bbbbbb;
}

.single-input-inner.style-border textarea::placeholder {
  color: #bbbbbb;
}

.single-input-inner.style-bg input {
  background: #f5f6f6;
}

.single-input-inner.style-bg input::-webkit-input-placeholder {
  color: #3f517e;
}

.single-input-inner.style-bg input::-moz-placeholder {
  color: #3f517e;
}

.single-input-inner.style-bg input:-ms-input-placeholder {
  color: #3f517e;
}

.single-input-inner.style-bg input::-ms-input-placeholder {
  color: #3f517e;
}

.single-input-inner.style-bg input::placeholder {
  color: #3f517e;
}

.single-input-inner.style-bg textarea {
  background: #f5f6f6;
}

.single-input-inner.style-bg textarea::-webkit-input-placeholder {
  color: #3f517e;
}

.single-input-inner.style-bg textarea::-moz-placeholder {
  color: #3f517e;
}

.single-input-inner.style-bg textarea:-ms-input-placeholder {
  color: #3f517e;
}

.single-input-inner.style-bg textarea::-ms-input-placeholder {
  color: #3f517e;
}

.single-input-inner.style-bg textarea::placeholder {
  color: #3f517e;
}

.single-form-check {
  padding-left: 35px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}

.single-form-check .form-check-input {
  width: 10px;
  height: 10px;
  border-radius: 2px;
  background: var(--main-color-2);
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 0;
  margin-top: -3px;
}

.single-form-check .form-check-label {
  margin-left: 10px;
}

.single-fact-inner .details {
  margin-top: -20px;
  padding: 0 30px 18px;
}

.single-fact-inner h3 {
  margin-bottom: 0;
  color: #fff;
}

.single-fact-inner p {
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
}

.single-fact-inner.style-two .thumb {
  height: 84px;
  width: 84px;
  background: #5e35b1;
  border-radius: 50%;
  line-height: 84px;
  margin: auto;
  position: relative;
  z-index: 1;
  margin-bottom: 40px;
}

.single-fact-inner.style-two .thumb:after {
  content: "";
  position: absolute;
  height: 96px;
  width: 96px;
  border-radius: 50%;
  left: -6px;
  top: -6px;
  background: #5e35b1;
  opacity: 0.45;
  z-index: -1;
}

.single-fact-inner.style-two:hover .thumb {
  background: -webkit-gradient(linear,
      left top,
      left bottom,
      from(#ff8d35),
      to(#f01111));
  background: linear-gradient(#ff8d35, #f01111);
}

.single-fact-inner.style-two:hover .thumb:after {
  background: rgba(255, 255, 255, 0.45);
}

/************** about-thumb-wrap ***************/


.video-area-inner .video-play-btn {
  position: absolute;
  right: 50%;
  top: 50%;
  -webkit-transform: translate(50%, -50%);
  transform: translate(50%, -50%);
}

/* 
.video-area-inner:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 97.5%;
  height: 97%;
  background: rgba(56, 17, 127, 0.25);
  left: 6px;
  top: 6px;
  border-radius: 10px;
  z-index: 1;
} */
/* 
.video-area-inner:before {
  content: "";
  position: absolute;
  background-image: url(../img/ro.png);
  height: 160px;
  width: 160px;
  left: -80px;
  bottom: 73px;
  background-size: cover;
  z-index: -1;
} */
/* 
.video-area-inner span.shadow {
  position: absolute;
  background-image: url(../img/ro.png);
  height: 160px;
  width: 160px;
  left: 50%;
  top: -80px;
  z-index: -1;
  background-size: cover;
  display: block;
} */

.video-area-inner img {
  border-radius: 10px;
}

.single-about-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 30px;
}

.single-about-wrap .thumb {
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
  height: 78px;
  width: 78px;
  background: rgba(56, 17, 127, 0.5);
  border-radius: 10px;
  border: 2px solid rgba(94, 53, 177, 0.5);
  text-align: center;
  line-height: 78px;
  margin-right: 20px;
}

.single-about-wrap .details h5 {
  color: #fff;
  margin-bottom: 9px;
}

.single-about-wrap .details p {
  margin-bottom: 0;
  color: #fff;
}

.about-area .about-thumb {
  position: relative;
}

.about-area .about-thumb:after {
  content: "";
  position: absolute;
  height: 114%;
  width: 100%;
  background: rgba(56, 17, 127, 0.5);
  top: -33px;
  right: -35px;
  z-index: -1;
  border-radius: 10px;
}

.about-area .about-thumb img {
  border-radius: 10px;
}

/************** single-feature ***************/
.single-feature-inner {
  margin-bottom: 50px;
}

.single-feature-inner .details {
  padding: 0 30px 18px;
}

.single-feature-inner .details h4 {
  color: #fff;
  margin-top: -20px;
}

.single-feature-inner .details p {
  color: #fff;
}

.single-feature-inner .thumb img {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.single-feature-inner.default-card.default-card-active .thumb img {
  -webkit-filter: brightness(8);
  filter: brightness(8);
}

.single-feature-inner.style-two .thumb {
  height: 84px;
  width: 84px;
  background: #5e35b1;
  border-radius: 50%;
  line-height: 84px;
  margin: auto auto 40px;
  position: relative;
  z-index: 1;
}

.single-feature-inner.style-two .thumb:after {
  content: "";
  position: absolute;
  height: 96px;
  width: 96px;
  border-radius: 50%;
  left: -6px;
  top: -6px;
  background: #5e35b1;
  opacity: 0.45;
  z-index: -1;
}

.single-feature-inner.style-two .details {
  padding: 0;
}

/*********** counter-list-inner ***********/
.call-to-action-area {
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

/********* match-table **********/
.match-table-inner {
  background: #24006c;
  border-radius: 10px;
  padding: 70px 70px 30px;
}

/************ single-ticket-inner *************/
.single-ticket-wrap {
  text-align: center;
  position: relative;
  z-index: 1;
  margin-bottom: 30px;
}

.single-ticket-wrap::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0px;
  background-image: url(../img/icon/shape.png);
  width: 100%;
  height: 133px;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  background-size: cover;
  z-index: -1;
}

.single-ticket-wrap::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0px;
  background-image: url(../img/icon/shape.png);
  width: 100%;
  height: 133px;
  background-size: cover;
  z-index: -1;
}

.single-ticket-wrap h4 {
  color: #fff;
  padding: 68px 0 33px;
  font-weight: 600;
  margin-bottom: 0;
}

.single-ticket-wrap .details {
  background: #38117f;
  padding: 30px 50px 20px;
}

.single-ticket-wrap ul {
  margin: 0;
  padding: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 20px;
}

.single-ticket-wrap ul li {
  display: block;
  list-style: none;
  color: #fff;
  margin: 0 16px;
}

.single-ticket-wrap ul li img {
  display: block;
  margin-bottom: 10px;
}

.single-ticket-wrap p {
  color: #fff;
}

.single-ticket-wrap .btn-ticket {
  color: #fff;
  display: block;
  padding: 37px 0 69px;
}

/************ single-testimonial-inner *************/
.testimonial-area {
  background-position: center;
  background-size: contain;
}

.testimonial-area:after {
  background: -webkit-gradient(linear,
      left top,
      left bottom,
      from(#070759),
      to(#000));
  background: linear-gradient(#070759, #000);
  opacity: 0.8;
}

.single-testimonial-inner {
  margin-bottom: 30px;
  position: relative;
}

.single-testimonial-inner p {
  color: #fff;
  margin-top: 15px;
  margin-bottom: 10px;
}

.single-testimonial-inner .thumb {
  display: inline-block;
  margin-bottom: 16px;
  border-radius: 50%;
  border: 9px solid var(--main-color-2);
}

.single-testimonial-inner .thumb img {
  height: 66px;
  width: 66px;
  border-radius: 50%;
}

.single-testimonial-inner .name h5 {
  color: #fff;
  font-weight: normal;
  margin: 0 0 5px;
}

.single-testimonial-inner .name span {
  font-size: 12px;
  color: #fff;
}

.single-testimonial-inner .quote-icon {
  color: #f01111;
  font-size: 20px;
  margin-bottom: 14px;
}

.testimonial-slider .item .single-testimonial-inner {
  margin-bottom: 0;
}

.testimonial-slider .owl-nav {
  display: none;
}

.testimonial-slider .owl-dots {
  display: none;
}

/************ single-testimonial-inner *************/
.single-testimonial-inner-2 {
  background: #f3f3f3;
  padding: 45px 50px;
  border-radius: 7px;
  overflow: hidden;
  margin-bottom: 30px;
  position: relative;
}

.single-testimonial-inner-2 .side-icon {
  width: auto !important;
  position: absolute;
  right: 50px;
  top: 50px;
}

.single-testimonial-inner-2 p {
  font-size: 18px;
  margin-bottom: 0;
}

.single-testimonial-inner-2 .media {
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.single-testimonial-inner-2 .media .media-left {
  margin-right: 10px;
}

.single-testimonial-inner-2 .media .media-left img {
  height: 70px;
  width: 70px;
  border-radius: 50%;
}

.single-testimonial-inner-2 .media .media-body {
  margin-top: 4px;
}

.testimonial-slider-2 .owl-nav {
  display: none;
}

.testimonial-slider-2 .owl-dots {
  text-align: center;
}

/************ subscribe-area-inner ************/
.subscribe-area-inner {
  -webkit-box-shadow: 0px 3px 20px rgba(0, 33, 71, 0.06);
  box-shadow: 0px 3px 20px rgba(0, 33, 71, 0.06);
}

.subscribe-area-inner p {
  margin-bottom: 0;
}

.subscribe-area-inner.style-white h3 {
  color: #fff;
}

.subscribe-area-inner.style-white p {
  color: #fff;
}

.single-subscribe-inner {
  position: relative;
}

.single-subscribe-inner input {
  width: 100%;
  border: 1px solid #dfdede;
  height: 55px;
  border-radius: 0;
  padding: 0 20px;
  background: transparent;
  color: #fff;
}

.single-subscribe-inner .btn {
  position: absolute;
  right: 6px;
  top: 6px;
  border-radius: 0;
}

.single-subscribe-inner.style-two input {
  height: 60px;
}

.single-subscribe-inner.style-two .btn {
  right: 0;
  top: 0;
}

.subscribe-inner-box {
  background: #2e2e2e;
  padding: 50px;
}

/********** client-area **********/
.client-slider {
  cursor: pointer;
}

.client-slider .item img {
  width: auto;
  margin: auto;
}

.client-slider .owl-nav {
  display: none;
}

/************** signin area **************/
.signin-inner {
  background: #f2f3f5;
  padding: 60px 50px 56px;
  border-radius: 7px;
}

.signin-inner strong {
  color: var(--heading-color);
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.signin-inner strong:hover {
  color: var(--main-color);
}

.single-checkbox-inner {
  margin-bottom: 20px;
}

/************** contact area **************/
.contact-g-map {
  margin-bottom: -11px;
}

.contact-g-map iframe {
  line-height: 1 !important;
  border: 0;
  width: 100%;
  height: 470px;
}

.contact-form-inner-wrap {
  -webkit-box-shadow: 0px 10px 30px rgba(0, 33, 71, 0.08);
  box-shadow: 0px 10px 30px rgba(0, 33, 71, 0.08);
  padding: 40px 50px;
}

.contact-form-inner-wrap .section-title {
  border-bottom: 1px solid #f3f3f3;
  margin-bottom: 30px;
}

.contact-form-inner-wrap .section-title h3 {
  position: relative;
  padding-bottom: 10px;
  margin-bottom: -1px;
}

.contact-form-inner-wrap .section-title h3:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 60px;
  background: var(--main-color);
}

.intro-slider {
  margin-top: -90px;
}

/*.intro-slider .owl-nav {
    display: none;
  }*/
.intro-slider .owl-nav {
  position: absolute;
  top: -7%;
  right: 0;
}

.intro-slider .owl-dots {
  text-align: center;
  margin-top: 30px;
}

.intro-slider .owl-dots .owl-dot {
  display: inline-block;
  height: 10px;
  border: 0;
  border-radius: 30px;
  width: 10px;
  background: #d2d2d2;
  margin: 0 3px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.intro-slider .owl-dots .owl-dot.active {
  /*background: -webkit-gradient(linear, left top, left bottom, from(#FF8D35), to(#F01111));*/
  background: #01c29a;
  width: 48px;
}

.single-intro-inner img {
  border-radius: 20px 20px 0 0px;
  height: 300px;
  object-fit: cover;

  width: 100%;

}

/* 
.single-intro-inner {
  padding: 15px 0;
  background: linear-gradient(154.78deg,
      rgba(255, 255, 255, 0.27) -40.16%,
      rgba(255, 255, 255, 0) 103.77%) !important;
  border-radius: 20px;
} */

.single-intro-inner.single-intro-inner-active .thumb {
  background: -webkit-gradient(linear,
      left top,
      left bottom,
      from(#ff8d35),
      to(#f01111));
  background: linear-gradient(#ff8d35, #f01111);
}

.single-intro-inner .thumb {
  height: 84px;
  width: 84px;
  line-height: 74px;
  border-radius: 50%;
  background: #5e35b1;
  border: 5px solid rgba(255, 255, 255, 0.45);
  margin: auto;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-bottom: -17px;
}

.single-intro-inner ul {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: space-between;
  margin: 0 35px 15px 35px;
}

.single-intro-inner ul li {
  list-style: none;
  font-size: 16px;
  display: flex;
  align-items: center;
  color: #fff;
}

.single-intro-inner ul li img {
  display: block;
  margin: 0px 10px 0 0;
}

.single-intro-inner ul li.time {
  height: 40px;
  line-height: 40px;
  border: 1px solid #5e35b1;
  border-radius: 3px;
  padding: 0 29px;
  font-size: 18px;
  margin: auto;
}

.single-intro-inner .botoom-li img {
  width: auto;
}

.single-intro-inner .botoom-li li {
  font-size: 13px;
  color: #bbbbbb;
}

.top-card-fnt li {
  font-size: 13px !important;
  color: #bbbbbb !important;
}

.top-card-fnt li span {
  font-size: 13px !important;
  color: #01c29a;
}

.single-intro-inner .botoom-li {
  /*border-top: 1px solid #5E35B1;*/
  border-bottom: 1px solid #ffffff1f;
  /*display: block;*/
  font-size: 16px;
  padding: 11px 0px;
  margin-top: 13px;
}

/*.single-intro-inner .btn {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    font-weight: normal;
  }
  */
.single-process-inner {
  margin-bottom: 30px;
}

.single-process-inner .details {
  margin-top: 15px;
}

.single-process-inner .details h4 {
  font-size: 30px;
  color: #fff;
  margin-bottom: 15px;
}

.single-process-inner .details p {
  color: #f3f3f3;
  margin-bottom: 20px;
}

.single-process-inner .details a {
  color: #f3f3f3;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.single-process-inner .details a i,
.single-process-inner .details a svg {
  color: var(--main-color-2);
}

.single-process-inner .details a:hover {
  color: var(--main-color);
}

.gamer-slider .owl-dots,
.gamer-slider .owl-nav {
  display: none;
}

.gamer-slider .item {
  position: relative;
}

.gamer-slider .item:hover .gamer-details {
  opacity: 1;
}

.gamer-details {
  text-align: center;
  background: #38117f;
  border-radius: 5px;
  padding: 38px 30px 40px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.gamer-details h5 {
  font-weight: 400;
  color: #fff;
  margin-bottom: 20px;
}

.gamer-details p {
  color: #fff;
  margin-bottom: 15px;
}

.gamer-details .ratting-inner {
  margin-bottom: 20px;
}

.gamer-details .ratting-inner span {
  color: #fff;
  margin-right: 5px;
}

.gamer-details .btn {
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  background: #5e35b1;
  border-radius: 2px;
  color: #fff;
  padding: 0 18px;
  font-weight: 400;
}

.gamer-details .btn:after {
  background: #ff0268;
}

.plan-inner {
  border-radius: 10px;
  background: #24006c;
  padding: 70px 70px 40px 60px;
}

/*.single-plan-wrap {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      background: rgba(56, 17, 127, 0.5);
      border: 2px solid rgba(94, 53, 177, 0.5);
      border-radius: 10px;
      padding: 40px 40px 40px 0;
      margin-left: 45px;
      margin-bottom: 30px;
      position: relative;
  }*/
/*
  .single-plan-wrap:after {
      content: "";
      position: absolute;
      left: 65px;
      top: 50%;
      height: 97px;
      width: 97px;
      background-image: url(../img/ro.png);
      background-size: cover;
      -webkit-transform: translate(-50px, -50%);
      transform: translate(-50px, -50%);
      opacity: 0.5;
  }

  .single-plan-wrap:before {
      content: "";
      position: absolute;
      right: 100px;
      top: 50%;
      height: 97px;
      width: 97px;
      background-image: url(../img/ro.png);
      background-size: cover;
      -webkit-transform: translate(-50px, -50%);
      transform: translate(-50px, -50%);
      opacity: 0.5;
  }*/
/*
  .single-plan-wrap .thumb {
      -webkit-box-flex: 0;
      -ms-flex: none;
      flex: none;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      position: relative;
      z-index: 0;
      background: #6B21FF;
      border-radius: 50%;
  }

  .single-plan-wrap .thumb:after {
      content: "";
      position: absolute;
      height: 100%;
      width: 100%;
      top: -6px;
      left: -6px;
      height: 97px;
      width: 48px;
      border-bottom-left-radius: 90px;
      border-top-left-radius: 90px;
      background: transparent;
      display: inline-block;
      margin: 0 1em 1em 0;
      z-index: -1;
      border: 2px solid rgba(94, 53, 177, 0.5);
  }

  .single-plan-wrap .details {
      margin-left: -13px;
  }

  .single-plan-wrap .details h4 {
      color: #fff;
      margin-bottom: 13px;
  }

  .single-plan-wrap .details p {
      color: #fff;
      margin-bottom: 0;
  }

  .single-plan-wrap .btn {
      -webkit-box-flex: 0;
      -ms-flex: none;
      flex: none;
      font-weight: normal;
  }*/

.subtitle {
  /*border-bottom: 1px solid rgba(94, 53, 177, 0.5);*/
  /*padding-bottom: 20px;*/
  /*margin-bottom: 45px;*/
  color: #bbbbbb;
}

.about-area-3 {
  padding-bottom: 242px;
}

/*
  .fact-area-3 {
      margin-bottom: -60px;
  }
  */

.news-detailscrd {
  margin-top: 42px;
  padding: 0px 0 16px;
  margin-bottom: 30px;
  background: linear-gradient(154.78deg,
      rgba(255, 255, 255, 0.27) -40.16%,
      rgba(255, 255, 255, 0) 103.77%) !important;
  border-radius: 20px;
}

img.card-img-top.rounded {
  margin-bottom: 15px;
  padding: 10px;
}

.leaderboard-area {
  background-position: center;
  background-size: contain;
}

.leaderboard-table {
  background: #0f2662;
  padding: 0 15px;
  border-radius: 12px;
}

.leaderboard-table .title {
  font-size: 20px;
  font-weight: 700;
  padding: 30px 15px 25px;
  margin-bottom: 0px;
}

.leaderboard-table table {
  margin-bottom: 7px;
  min-width: 425px;
}

.leaderboard-table table thead {
  background: rgba(74, 100, 167, 0.1);
  border: 0;
}

.leaderboard-table table thead tr {
  border: 0;
}

.leaderboard-table table thead tr th {
  border: 0;
  font-size: 14px;
  font-weight: 700;
  color: #6d83bb;
  padding: 13.5px 15px;
}

.leaderboard-table table tbody tr {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  height: 62px;
  vertical-align: middle;
}

.leaderboard-table table tbody tr:last-child {
  border: 0;
}

.leaderboard-table table tbody tr:last-child td {
  border: 0;
}

.leaderboard-table table tbody tr td {
  color: #f0f4ff;
  font-weight: 600;
}

.leaderboard-table table tbody tr td .prediction-wrap {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.leaderboard-table table tbody tr td .prediction-wrap img {
  margin-right: 12px;
}

.leaderboard-table table tbody tr td.prediction-amount,
.leaderboard-table table tbody tr td.prediction-time {
  color: #a0b3e2;
  font-weight: 400;
}

.footer-cta-inner {
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  padding: 65px 70px;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  margin-bottom: -234px;
  z-index: 9999;
}

.single-plan-wrap {
  background: linear-gradient(154.78deg,
      rgba(255, 255, 255, 0.27) -40.16%,
      rgba(255, 255, 255, 0) 103.77%) !important;
  border-radius: 20px !important;
  padding: 20px !important;
  /*margin-left: 45px;*/
  margin-bottom: 30px;
  position: relative;
}

.intro-slider .owl-nav button.owl-prev {
  width: 40px;
  height: 40px;
  border: none;
  margin-right: 5px;
  /* background: bisque; */
  border-radius: 50%;
  background: linear-gradient(154.78deg,
      rgba(255, 255, 255, 0.27) -40.16%,
      rgba(255, 255, 255, 0) 103.77%);
}

.intro-slider .owl-nav button.owl-next {
  width: 40px;
  height: 40px;
  border: none;
  /* background: bisque; */
  border-radius: 50%;
  background: linear-gradient(90deg, #01c29a 0%, #e9cd70 104.29%);
}

.intro-slider .owl-nav button span {
  color: #fff;
  font-size: 22px;
}

.text-lefts {
  text-align: left;
  color: #fff;
}

.ft-size-over {
  font-size: 13px;
  color: #bbbbbb;
  padding-left: 3px;
}

.foot-icn {
  padding-left: 12px;
}

.navbar.navbar-area.navbar-expand-lg.sticky-active {
  background: #081638;
}


.ul-singlefact {
  padding: 0;
  display: -webkit-box;
  list-style-type: none;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: space-between;
  margin: 0 30px 15px 25px;
}

.card-body {
  text-align: left;
}

.details.card-body .badge {
  font-size: 13px !important;
  color: #01c29a;
  margin-bottom: 10px;
  background: #ffffff33 !important;
  font-weight: 500;
}

.text-right {
  text-align: right;
}

.navbar-collapse {
  flex-grow: unset !important;
}


.homecare .carousel-control-prev {
  left: unset !important;
  right: 6% !important;
  bottom: 100%;
}

.homecare .carousel-control-next {
  left: unset !important;
  right: 3% !important;
  bottom: 100%;
}

.homecare .upcomcare .carousel-control-next {
  left: unset !important;
  right: -3% !important;
  bottom: 100%;
}

.homecare .upcomcare .carousel-control-prev {
  left: unset !important;
  right: 2% !important;
  bottom: 100%;
}

.homecare .carousel-indicators .active {
  opacity: 1;
  display: inline-block;
  height: 10px;
  border: 0;
  border-radius: 30px;
  margin: 0 3px;
  background: #377bb1;
  width: 30px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.homecare .carousel-indicators button {
  opacity: 1;
  display: inline-block;
  height: 10px;
  border: 0;
  border-radius: 30px;
  width: 10px;
  background: #6b7388;
  margin: 0 3px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}



.intro-area {
  /* background-image: url(../img/about-bg.png); */
  /* background-size: 100%; */
  /* background-repeat: no-repeat; */
  /* margin-top: 31px; */
}

/* .fact-area-3 {
  margin-top: -118px;
} */

.homecare .carousel-control-prev-icon {
  background-image: url(../img/prev-icn.png);
}

.homecare .carousel-control-next-icon {
  background-image: url(../img/next-icn.png);
}

.homecare .carousel-control-next,
.carousel-control-prev {
  opacity: 1 !important;
}

.pd-top-120 {
  padding-top: 120px;
}


.green-color {
  color: #01c29a !important;
}

/* .side-homes.carousel.slide .carousel-indicators {
  bottom: -11%;
} */
.side-homes.carousel.slide .carousel-control-prev {
  right: -0.5% !important;
}

.side-homes.carousel.slide .carousel-control-next {
  right: -4.2% !important;
}

.mbm-15 {
  margin-bottom: -15px !important;
}

.py-9 {
  padding-top: 90px;
  padding-bottom: 90px;
}

.footer-area .nav-link:hover svg path {
  stroke: #01c29a;
}

.footer-area .nav-link svg {
  margin-right: 7px;
}

.footer-area .nav-link {
  padding: 0 !important;
  line-height: 35px;
}

.nav-link:hover {
  font-weight: 500;
  color: #fff;
}




.cursur-pointer {
  cursor: pointer;
}

.cursur-pointer input {
  cursor: pointer;
}

.fw-500 {
  font-weight: 500;
}

@media only screen and (min-device-width: 1400px) {
  /* .progress1-percent .li-25 {
  padding-left: 0.5rem!important;
}
.progress1-percent .li-75 {
  padding-right: 0.5rem!important;
} */
}

@media only screen and (max-device-width: 1366px) {
  /* .progress1-percent .li-25 {
    padding-left: 0 !important;
}
.progress1-percent .li-75 {
  padding-right: 0 !important;
} */
}

/* .footer-area-bottom .nav-link {
  border-right: 1px solid;
}

.footer-area-bottom .nav-link:last-child {
  border-right: none;
} */
.mob-m {
  margin-bottom: 20px;
}

.mob-serch {
  display: none !important;
}

@media only screen and (max-device-width: 768px) {

  .mob-serch {
    display: block !important;
  }

  /* .fact-area-3 {
    margin-top: -455px;
  } */
  .login-bg.intro-area {
    background-image: url(../img/mobbg2.jpg) !important;
    background-size: cover !important;
    background-repeat: no-repeat;
    /* padding-top: 200px; */
  }

  a.navbar-brand {
    /* padding-bottom: 10px; */
    width: 120px;
  }

  .bton-none {
    display: none !important;
  }

  .navbar>.container {
    /* justify-content: center !important; */
    padding: 5px 0px 7px 10px;
  }

  nav.py-1.border-bottom.navbar.navbar-expand-lg.navbar-dark {
    background: #05395c;
  }

  .fact-area-3 {
    margin-bottom: 50px;
  }

  .mob-m {
    margin-bottom: 100px;
  }

  .side-homes.carousel.slide {
    margin-bottom: 20px;
  }

  .tp-sto {
    height: 100% !important;
  }

  .tops-area-inner img.w-100.left-crd {
    height: 100% !important;
  }

  .mobile-footer {
    display: block !important;
  }

  .mobile-footer {
    background: #e31f29;
    border-radius: 20px 20px 0 0px;
    z-index: 999;
    padding: 12px 0px 8px;
    /* display: flex; */
    bottom: 0;
    width: 100%;
    position: fixed;
  }

  .rounded-lg-5 {
    border-radius: 0.2rem !important;
  }

  .footer-area .widget {

    padding-left: 20px;
  }

  nav.py-3.navbar.navbar-expand-lg.navbar-dark {
    background-color: #142453;
  }

  nav.py-3.navbar.navbar-expand-lg.navbar-dark .container {
    justify-content: center !important;

  }

  .footer-area-bottom .nav-link {
    font-size: 16px !important;
    padding: 2px 8px !important;
    border-right: 1px solid;
  }

  .footer-area .widget {
    margin-bottom: 40px;
  }

  .footer-area-bottom .nav-link:last-child {
    border-right: none;
  }

  .navbar-nav .ft-size-15 {
    font-size: 17px !important;
  }

  .pd-top-120 {
    padding-top: 45px;
  }

  .navbar-nav {
    max-height: 100vh !important;
  }


  .pd-top-225 {
    padding-top: 490px;
  }

  .homecare .carousel-control-prev {
    left: unset !important;
    right: 13% !important;
    bottom: 100%;
  }

  .side-homes.carousel.slide .carousel-control-prev {
    right: 11% !important;
  }

  .side-homes.carousel.slide .carousel-control-next {
    right: 0 !important;
  }

  .breadcrumb-inner {
    padding: 330px 0 50px !important;
  }

  .nav-link {
    font-size: 18px !important;
    padding: 4px 3px !important;
  }


  .me-sm-2 {
    margin-right: 0.5rem !important;
  }

  .me-lg-4 {
    margin-right: 1.5rem;
  }

  .playerprofile-det::after {
    width: 75%;
    left: 4%;
    height: 40%;
    top: 122%;
  }

  .mobile-book {
    position: absolute;
    right: -38%;
    top: 100%;
  }

  .live-box1 .border-end {
    border-bottom: 1px solid #ffffff1f !important;
    padding: 33px 0;
    border-right: 0 !important;
  }

  .playerprofile::after {
    z-index: 9;
    content: "";
    position: absolute;
    width: 80.5%;
    height: 47%;
    background: rgba(56, 17, 127, 0.25);
    left: 35%;
    top: 155%;
    border-radius: 10px;
    background: linear-gradient(180deg,
        rgba(167, 177, 198, 0) 0%,
        rgba(8, 23, 56, 1) 90%);
  }

  .bg-blue.py-3.d-flex.align-items-center .justify-content-end.nav {
    justify-content: flex-start !important;
  }

  .bg-transparent.card {
    margin-bottom: 31px;
  }

  .homecare .upcomcare .carousel-control-prev {
    left: unset !important;
    right: 8% !important;
    bottom: 100%;
  }

  .flex-column.vertical-tabs.p-4.pb-2.nav.nav-pills {
    margin-bottom: 40px;
  }

  .circles-bdg {
    margin-right: 10px !important;
  }


  .progress1-percent {
    margin-top: -88px !important;
    margin: 0 -5px !important;
  }

  .td-140 {
    width: 90px !important;
  }
}


.border-gray {
  border: 1px solid #bbbbbb7d !important;
}

.border-gradients {
  background: linear-gradient(to right, #2e3a56, #0d1b3c),
    linear-gradient(to right, #01c29a, #e9cd70);
  border: 3px solid transparent;
  border-radius: 20px;
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
}

.svg-today {
  margin-right: 3px;
  margin-bottom: 2px;
}

.eye-icn {
  position: absolute;
  bottom: 15px;
  right: 15px;
}

.google-custom {
  border: 1px solid #ffffff40;
  border-radius: 40px;
  margin: 16px 0;
  padding: 11px 0 3px;
}

.line-sep p {
  overflow: hidden;
  text-align: center;
}

.line-sep p:before,
.line-sep p:after {
  background-color: #0000001f;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 15%;
}

.line-sep p:before {
  right: 0.5em;
  margin-left: -50%;
}

.line-sep p:after {
  left: 0.5em;
  margin-right: -50%;
}

.d-none-arrow .carousel-control-prev {
  display: none !important;
}

.d-none-arrow .carousel-control-next {
  display: none !important;
}


@media only screen and (min-width: 360px) and (max-width: 768px) {
  .price-card {
    max-width: 100%;
    height: 400px;
  }

  .login-bg.intro-area {
    /* padding-top: 520px !important; */
  }

  .price-card-cnt {
    max-width: 100%;
    height: 460px;
  }

  li.text-white.pe-2.ft-size-14.li-75 {
    /* padding: 0 1px 0px 0 !important; */
    margin-right: -28px;
  }

  li.text-white.ps-2.ft-size-14.li-25 {
    padding: 0 !important;
    margin-left: -1%;
  }
}


.mt-45 {
  margin-top: 1.7rem !important;
}


.login-bg.intro-area {
  background-image: url(../img/webbg.png);
  background-size: 100%;
  background-repeat: no-repeat;
  /* padding-top: 200px; */
}

.page-title {
  font-size: 2rem;
}



/*--------------------------------------------------
      ##Footer
  ---------------------------------------------------*/
.footer-area {
  position: relative;
  padding-top: 50px;
  border-radius: 20px 20px 0 0px;
}

.footer-area .single-subscribe-inner input {
  height: 55px;
  background: rgba(94, 53, 177, 0.5);
  border: 0;
  border-radius: 28px;
  color: #fff;
  padding: 0 158px 0 20px;
  font-weight: normal;
}

.footer-area .single-subscribe-inner input::-webkit-input-placeholder {
  color: #fff;
}

.footer-area .single-subscribe-inner input::-moz-placeholder {
  color: #fff;
}

.footer-area .single-subscribe-inner input:-ms-input-placeholder {
  color: #fff;
}

.footer-area .single-subscribe-inner input::-ms-input-placeholder {
  color: #fff;
}

.footer-area .single-subscribe-inner input::placeholder {
  color: #fff;
}

.footer-area .single-subscribe-inner .btn {
  height: 55px;
  line-height: 55px;
  border-radius: 28px;
  top: 0;
  right: 0;
}

/*
    .footer-area .social-media li a {
        width: 42px;
        height: 42px;
        line-height: 42px;
        color: #fff;
        background: transparent;
        border: 1px solid #fff;
    }
    */
.footer-area .social-media li a:hover {
  /* background: -webkit-gradient(linear, left top, left bottom, from(#FF8D35), to(#F01111));
        background: linear-gradient(#FF8D35, #F01111);*/
  border-color: transparent;
}

.footer-area .widget {
  position: relative;
  z-index: 2;
  margin-bottom: 10px;
}

.footer-area .widget-title {
  margin-bottom: 29px;
  font-size: 17px;
  position: relative;
  color: rgba(255, 255, 255, 0.9);
}

.footer-area .widget-title:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -12px;
  height: 4px;
  border-radius: 6px;
  width: 46px;
  background: #01c29a;
}

.footer-area .widget_about .thumb {
  margin-bottom: 20px;
}

.footer-area .widget_about .details p {
  margin-bottom: 0;
  color: rgba(255, 255, 255, 0.9);
}

.footer-area .widget_about .details p i,
.footer-area .widget_about .details p svg {
  margin-right: 10px;
}

.footer-area .widget_about .details .social-media {
  margin-top: 15px;
}

.footer-area .widget_contact ul {
  padding: 0;
}

.footer-area .widget_contact ul li {
  color: rgba(255, 255, 255, 0.9);
}

.footer-area .widget_contact ul li i {
  color: rgba(255, 255, 255, 0.9);
}

.footer-area .widget_nav_menu ul {
  margin: 0;
  padding: 0;
}

.footer-area .widget_nav_menu ul li {
  list-style: none;
  margin-bottom: 7px;
  position: relative;
  color: rgba(255, 255, 255, 0.9);
}

.footer-area .widget_nav_menu ul li:hover:after {
  background: var(--main-color);
}

.footer-middle {
  background-size: cover;
  padding-bottom: 20px;
}

.footer-bottom {
  padding: 23px 0;
  border-top: 1px solid #ffffff1f;
  position: relative;
  z-index: 2;
  color: rgba(255, 255, 255, 0.9);
  font-size: 15px;
}

.footer-bottom p {
  margin-bottom: 0;
  color: rgba(255, 255, 255, 0.9);
}

.footer-bottom p span {
  color: var(--main-color);
}

.footer-area-2 {
  padding-top: 95px;
}

.border-bottom-muted {
  border-bottom: 1px solid #000000 !important;
}

.border-top-muted {
  border-top: 1px solid #ffffff1f !important;
}

.ft-size-15 {
  font-size: 15px !important;
}

.ft-size-14 {
  font-size: 14px !important;
}

.ft-size-11 {
  font-size: 11px !important;
}

.ft-size-12 {
  font-size: 12px !important;
}

.ft-size-8 {
  font-size: 8px;
}

.ft-size-6 {
  font-size: 6px;

}

.mx-12 {
  margin-right: 12rem !important;
  margin-left: 12rem !important;
}

.color-gray {
  color: #979797 !important;
}

.nav-link {
  padding: 0px 12px !important;
}

.carousel-control-next,
.carousel-control-prev {

  display: none !important;
}

.video-area-inner img.w-100 {
  border-radius: 10px;
  height: 120px;
  object-fit: cover;
}

.video-area-inner {
  position: relative;
  border-radius: 30px;
}

.tops-area-inner img.w-100.left-crd {
  border-radius: 20px;
  height: 100px;
  object-fit: cover;
}

.tops-area-inner img.w-100 {
  border-radius: 20px;
  height: 200px;
  object-fit: cover;
}

.tops-area-inner {
  position: relative;
  border-radius: 30px;
}


.news-detailscrd .details {
  padding: 0px 15px 0px 15px;
}

.news-detailscrd .details .h5 {
  font-size: 18px;
  color: #fff;
  font-weight: 700;
}

.text-clamps {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.text-clamps-1 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.featured-card {
  /* min-height: 244px; */
  background: #fff;
}


.featured-card ul li {
  /* min-height: 244px; */
  list-style: none;
  font-size: 16px;

  display: flex;
  align-items: center;
  color: #fff;
}

.featured-card ul {

  padding: 10px 0 0 0;
  display: -webkit-box;
  margin-bottom: 0;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: space-between;
  /* margin: 0 35px 15px 35px; */
}

.trendings .carousel-indicators {
  display: none;
}

button.news-btn {
  background: #fff;
  border: 0;
  width: 40px;
  margin-left: 9px;
  height: 36px;
  border-radius: 15px;
}

.news-detailscrd h3 {
  font-size: 30px;
  margin-bottom: 15px;
}

.news-detailscrd p {
  font-weight: 400;
  margin-bottom: 0;
}

.bg-gray-tag {
  background-color: #D9D9D9;
  padding: 6px 10px;
  border-radius: 5px;
  margin-top: 5px;
}


.news-detailscrd {
  margin-top: 42px;
  padding: 0px 0 16px;
  margin-bottom: 30px;
  border: 0;
  background: linear-gradient(154.78deg,
      rgba(255, 255, 255, 0.27) -40.16%,
      rgba(255, 255, 255, 0) 103.77%) !important;
  border-radius: 20px;
}

.border-bottom-grays {
  border-bottom: 1px solid #d9d9d9;
}

span.blckog {
  background: #e31f29;
  width: 7px;
  height: 18px;
  display: flex;
  margin-right: 5px;
  border-radius: 10px;
}

.n-detp {
  position: absolute;
  top: 20px;
  right: 20px;
}

.n-detp-left {
  position: absolute;
  top: 20px;
  left: 20px;
}

.homecare .carousel-indicators {
  bottom: -30px;
}

.details h1 {
  font-size: 26px;
}

.video-area-inner img {
  height: 120px;
  object-fit: cover;
}

.bot-cards .tops-area-inner img.w-100.left-crd {
  border-radius: 20px;
  height: 128px;
  object-fit: cover;
}

.container {
  max-width: 1220px !important;
}

.h-serch {
  border: 0 !important;
  height: 40px;
  border-radius: 8px !important;
  background: #fff;
}

.h-serch:focus {
  outline: 0;
  box-shadow: none !important;
}

button.btn.btn-outline-secondary.h-serch {
  background-color: #e31f29 !important;
}

.color-gray span.text-\[6px\] {
  color: #377bb1;
}

.bot-cards.col-sm-4 {
  margin-bottom: 5px;
  margin-top: 5px;
}

.rounded-lg-5 {
  border-radius: 2rem;
}

.mobile-footer {
  display: none;
}

.tp-sto {
  height: 220px;
  object-fit: cover;
}

.whtsp {
  border-radius: 50px;
  bottom: 90px;
  font-size: 30px;
  height: 35px;
  position: fixed;
  right: 20px;
  text-align: center;
  width: 35px;
  z-index: 100;
}

.single-input-inner.style-border input {
  /* border: 1px solid rgba(23, 46, 104, 0.5) !important; */
  background: #fff;
  border-radius: 10px;
  height: 50px;
  line-height: 50px;
  padding: 0 20px 0 25px;
  color: rgb(0 0 0 / 70%);
}